*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --quase-branco: hsl(0, 0%, 98%);
    --cinza-medio: hsl(0, 0%, 41%);
    --quase-preto: hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.menu-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-nav ul, .menu-login ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-lista li, .login-lista li {
    list-style: none;
}

.nav-lista a, .login-lista a {
    text-decoration: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.main-texto h1 {
    font-size: 5rem;
    margin: 20px;
}

.main-texto p {
    width: 40%;
    color: var(--cinza-medio);
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
}

.main-texto button {
    color: var(--quase-branco);
    background-color: var(--quase-preto);
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    margin: 20px;
    padding: 15px;
    cursor: pointer;
}

.img-clientes {
    display: flex;
    gap: 50px;
    margin: 20px;
}

.img-hero {
    display: flex;
}

.img-hero img {
    display: flex;
    width: 30vw;
    height: 85vh;
}







/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */