*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --quase-branco: hsl(0, 0%, 98%);
    --cinza-medio: hsl(0, 0%, 41%);
    --quase-preto: hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }